{% extends "base.html" %}

{% block title %}Historial de Recetas{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Historial de Recetas</h1>

    <!-- Formulario de búsqueda -->
    <form action="{{ url_for('buscar_recetas') }}" method="POST" class="row g-3">

        <div class="col-md-4">
            <label for="rut" class="form-label">RUT</label>
            <input type="text" class="form-control" id="rut" name="rut">
        </div>
        <div class="col-md-4">
            <label for="fecha_inicio" class="form-label">Fecha Inicio</label>
            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
        </div>
        <div class="col-md-4">
            <label for="fecha_fin" class="form-label">Fecha Fin</label>
            <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>


</div>
{% endblock %}

{% block scripts %}
<!-- Aquí podrías agregar scripts específicos para el historial si los tienes -->
{% endblock %}
